<!doctype html>
<html>

<head>
  <title>About <%=shopName%>
  </title>
  <link rel="stylesheet" type="text/css" href="main.css" />
</head>

<body class="center-text">
  <h1>About <%=shopName%>
  </h1>
  <p>You can keep track of your physique by uploading a picture/video every week</p>
  <p>Your images/videos will be safely stored and only you will be able to access it</p>
  <!--Login and Register page-->
  <p>
    <a href="login">
      <button class="button-5" role="button">Sign into your account</button>
    </a>
  </p>
  <p>
    <a href="register">
      <button class="register-button-5" role="button">Create a new account</button>
    </a>
  </p>
</body>

</html>