<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About <%=shopName%>
    </title>
    <link rel="stylesheet" href="about.css">
</head>

<body>
    <!-- Import navbar -->
    <%- include('navbar') %>

        <div class="about-container">
            <h1 class="home_page">About <%=shopName%>
            </h1>

            <div class="motivation-section">
                <h4>Struggling with Gym Motivation?</h4>
                <p>It's challenging to stay motivated when progress is hard to see on a day-to-day basis. The truth is,
                    your
                    body transforms over consistency and time.</p>
                <p>Physique Tracker is here to guide you through your fitness journey.</p>
            </div>

            <div class="monitoring-section">
                <h4>Monitor Your Progress</h4>
                <p>Physique Tracker provides you with a simple and effective way to track your physique over weeks.</p>
                <p>Upload weekly images of your physique to stay motivated and witness your body's changes over time.
                </p>
                <p>Backtrack after several weeks to view your progress and celebrate how far you've come.</p>
            </div>

            <div class="calorie-section">
                <h4>Calorie Monitoring Made Easy</h4>
                <p>Physique Tracker helps you monitor your calories. Unsure about the calorie content of a meal item?
                    Use our
                    partnered API to quickly find the information you need.</p>
            </div>

            <div class="solution-section">
                <h4>Simple Yet Effective Solution</h4>
                <p>Physique Tracker offers a straightforward solution to monitor your progress and achieve your fitness
                    goals!</p>
            </div>
        </div>
</body>

</html>