<!doctype html>
<html>

<head>
  <title>Welcome to <%=shopName%>
  </title>
  <link rel="stylesheet" type="text/css" href="main.css" />
</head>

<body>
  <div class="welcome_window">
    <h1>Welcome to <%=shopName%>
    </h1>
    <p>
      <a href="login">
        <button class="button-5" role="button">Sign into your account</button>
      </a>
    </p>
    <p>
      <a href="register">
        <button class="register-button-5" role="button">Create a new account</button>
      </a>
    </p>
  </div>

  <div class="case-study">
    <span class="step">
      <h3>Create</h3>
      <p>Create your own free account</p>
      <img class=".step-img" width="100" height="100" src="./images/create.jpg">
      <p style="font-size: 8px;">(by qalebstudio on Freepik)</p>
    </span>
    <span class="step">
      <h3>Upload</h3>
      <p>Keep track of your physique by uploading image/video of your physique</p>
      <img class=".step-img" width="100" height="100" src="./images/upload.jpg">
      <p style="font-size: 8px;">(by qalebstudio on Freepik)</p>
    </span>
    <span class="step">
      <h3>View</h3>
      <p>View your uploaded videos/images from previous weeks</p>
      <img class=".step-img" width="100" height="100" src="./images/view.jpg">
      <p style="font-size: 8px;">(by qalebstudio on Freepik)</p>
    </span>
  </div>

</body>

</html>