<!doctype html>
<html>

<head>
  <title>Welcome to <%=shopName%>
  </title>
  <link rel="stylesheet" type="text/css" href="main.css" />
</head>

<body>
  <!-- import navbar -->
  <%- include('navbar') %>
    <h1 class="home_page">Welcome to <%=shopName%>
    </h1>

    <!-- <div class="welcome_window">
      <p>
        <a href="login">
          <button class="button-5" role="button">Sign into your account</button>
        </a>
      </p>
      <p>
        <a href="register">
          <button class="register-button-5" role="button">Create a new account</button>
        </a>
      </p>
    </div> -->
    <div class="case-study">
      <span class="step">
        <img class=".step-img" width="150" height="150" src="./images/create.jpg">
        <h3>Create</h3>
        <p>Create your own free account</p>
        <div class="text-overlay">
          <p style="font-size: 8px;">(image by qalebstudio on Freepik)</p>
        </div>
      </span>

      <span class="step">
        <img class=".step-img" width="150" height="150" src="./images/upload.jpg">
        <h3>Upload</h3>
        <p>Keep track of your physique by uploading image/video of your physique</p>
        <div class="text-overlay">
          <p style="font-size: 8px;">(image by qalebstudio on Freepik)</p>
        </div>
      </span>

      <span class="step">
        <img class=".step-img" width="150" height="150" src="./images/view.jpg">
        <h3>View</h3>
        <p>View your uploaded videos/images from previous weeks</p>
        <div class="text-overlay">
          <p style="font-size: 8px;">(image by qalebstudio on Freepik)</p>
        </div>
      </span>
    </div>

</body>

</html>