<!doctype html>
<html>

<head>
    <title>
    </title>
    <link rel="stylesheet" type="text/css" href="main.css" />
</head>

<body>
    <div class="center-text">
        <h1>
            Hello <%= username %>
        </h1>

        <p>You can keep track of your physique by uploading a picture/video every week</p>
        <p>Your images/videos will be safely stored and only you will be able to access it</p>

        <!-- 2 buttons: track my calories and upload image/video -->
        <p>
            <a href="manage_calories">
                <button class="button-5" role="button">Manage my Calories</button>
            </a>
        </p>
        <p>
            <a href="track_physique">
                <button class="register-button-5" role="button">Track Physique</button>
            </a>
        </p>
    </div>
</body>

</html>