<!doctype html>
<html>

<head>
    <title>Calendar</title>
    <link rel="stylesheet" type="text/css" href="main.css" />
</head>

<body>
    <!-- navbar -->
    <div class="navbar">
        <a href="track_physique">Track Physique</a>
        <a href="manage_calories">Manage Calories</a>
        <a href="about">About</a>
        <a href="logout">Sign out</a>
    </div>

    <div class="center-text">
        <h1 class="home_page">Calendar:</h1>
        <h2>Hello & Welcome
            <%=name%>,
        </h2>
        <%if(resultsList.length==0){%>
            <h2>Your progress is currently empty</h2>
            <p class="b">Click on Track Physique to update it</p>
            <% } %>
                <% for (let i=0; i < resultsList.length; i++) { %>
                    <div class="calendar-entry">
                        <div class="calendar-date">
                            <%= resultsList[i].date %>
                        </div>
                        <div class="calendar-image">
                            <img src="/uploads/<%=resultsList[i].image_path%>" alt="Physique Image" />
                        </div>
                    </div>
                    <% } %>

    </div>
    <div class="api">
        <h3 class="center-text">Try out our new API url</h3>
        <p class="b">The API provides you with a list of the top 50 female and male body builders</p>
        <p class="b">Here is the url along with your pregenerated unique key</p>
        <p class="b">/api/<%=keyId%>
        </p>
        <p class="b">(replace the /loggedin with the /api/... above)</p>
    </div>
</body>

</html>