<!doctype html>
<html>

<head>
    <title>Calendar</title>
    <link rel="stylesheet" type="text/css" href="main.css" />
</head>

<body>
    <!-- navbar -->
    <div class="navbar">
        <a href="track_physique">Track Physique</a>
        <a href="manage_calories">Manage Calories</a>
        <a href="logout">Sign out</a>
    </div>

    <div class="center-text">
        <h1 class="home_page">Calendar:</h1>
        <%if(resultsList.length==0){%>
            <h2>Your progress is currently empty</h2>
            <p>Click on Track Physique to change update it</p>
            <% } %>
                <% for (let i=0; i < resultsList.length; i++) { %>
                    <div class="calendar-entry">
                        <div class="calendar-date">
                            <%= resultsList[i].date %>
                        </div>
                        <div class="calendar-image">
                            <img src="/uploads/<%=resultsList[i].image_path%>" alt="Physique Image" />
                        </div>
                    </div>
                    <% } %>

    </div>
</body>

</html>