<!doctype html>
<html>

<head>
    <title>
    </title>
    <link rel="stylesheet" type="text/css" href="main.css" />
</head>

<body>
    <!-- navbar -->
    <div class="navbar">
        <a href="track_physique">Track Physique</a>
        <a href="manage_calories">Manage Calories</a>
        <a href="logout">Sign out</a>
    </div>

    <div class="center-text">
        <h1>Calendar:</h1>
    </div>
</body>

</html>