<!doctype html>
<html>

<head>
    <title>Manage Calories
    </title>
    <link rel="stylesheet" type="text/css" href="main.css" />
</head>

<body>
    <!-- import navbar -->
    <%- include('navbar') %>


</body>