<!doctype html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="navbar.css" />
</head>

<body>
    <div class="navbar">
        <a href="track_physique">Track Physique</a>
        <a href="manage_calories">Manage Calories</a>
        <a href="loggedin">My Profile</a>
    </div>
</body>

</html>